$light-color:#fff;
$quiz-app-bg: #ecfaea;
$answer-bg:#f7fbef;
$border-color:#dfdfdf;
$radiu-color: rgb(46, 251, 46);
$on-color:rgb(7, 211, 7);
$dark-green:green;
$good-color:darkorange;
$not-good-color:rgb(247, 19, 19);
$gray-color:#777;
